# ----- Python -----
__pycache__/
*.py[cod]
.venv/
.env

# ----- Java -----
target/
*.class
*.war
*.ear
*.iml

# --- Maven / Gradle ---
.mvn/
.settings/
.gradle/
build/

# --- IDEs ---
.idea/
.vscode/